[submodule "ext/sokol"]
	path = ext/sokol
	url = https://github.com/elix22/sokol.git
[submodule "tools/sokol-tools"]
	path = tools/sokol-tools
	url = https://github.com/elix22/sokol-tools.git
[submodule "ext/cimgui"]
	path = ext/cimgui
	url = https://github.com/elix22/cimgui.git
	branch = v1.92.2b
[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "ext/joltc"]
	path = ext/joltc
	url = https://github.com/elix22/joltc.git
	branch = sokol-dev
[submodule "ext/box2d"]
	path = ext/box2d
	url = https://github.com/elix22/box2d.git
	branch = sokol-dev
[submodule "ext/SharpGLTF"]
	path = ext/SharpGLTF
	url = https://github.com/elix22/SharpGLTF.git
	branch = sokol-dotnet
[submodule "ext/cgltf"]
	path = ext/cgltf
	url = https://github.com/elix22/cgltf.git
[submodule "ext/manifold"]
	path = ext/manifold
	url = https://github.com/elix22/manifold.git
	branch = sokol-dev
[submodule "ext/lynx"]
	path = ext/lynx
	url = https://github.com/lynx-chess/Lynx.git
[submodule "ext/nanovg"]
	path = ext/nanovg
	url = https://github.com/elix22/nanovg.git
	branch = sokol-nanovg
[submodule "ext/nanosvg"]
	path = ext/nanosvg
	url = https://github.com/elix22/nanosvg.git
[submodule "ext/bullet3"]
	path = ext/bullet3
	url = https://github.com/elix22/bullet3.git
[submodule "ext/JoltPhysics"]
	path = ext/JoltPhysics
	url = https://github.com/elix22/JoltPhysics.git
	branch = v5.5.0.bindings
[submodule "ext/miniaudio"]
	path = ext/miniaudio
	url = https://github.com/elix22/miniaudio.git
	branch = sokol-dev
[submodule "ext/TinySoundFont"]
	path = ext/TinySoundFont
	url = https://github.com/elix22/TinySoundFont.git
	branch = sokol-dev
[submodule "ext/ImGuizmo"]
	path = ext/ImGuizmo
	url = https://github.com/elix22/ImGuizmo.git
[submodule "ext/Frent"]
	path = ext/Frent
	url = https://github.com/elix22/Frent.git
[submodule "ext/libdatachannel"]
	path = ext/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
[submodule "ext/mbedtls"]
	path = ext/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
